#container /*Main menu*/
{
    
  width: 90%;
  background-color: rgb(255,245,254);
  margin: auto;
  margin-top: 30px;
  height: 1100px;
}

img
{
  width: 15%;
  padding-right: 15px;
  padding-left: 15px;
}

h2
{   background: -webkit-linear-gradient(left,rgb(198,116,18),rgb(165,103,153),rgb(110,76,204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 100px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
} 

h3
{
   text-align: center;
  margin-top: 100px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

p
{
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
}

.entree, .plat, .dessert
{
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  font-size: 1.2em;
}

.entree,.orange
{
  color: rgb(198,116,18);
}
.plat,.violet
{
  color: rgb(165,103,153);
}
.dessert,.mauve
{
  color: rgb(110,76,204);
}



.orange:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 40%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.orange:hover:after 
{
  width: 20%;
  background:rgb(198,116,18);
}
.violet:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 42%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.violet:hover:after 
{
  width: 16%;
  background:rgb(165,103,153);
}
.mauve:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 41%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.mauve:hover:after 
{
  width: 18%;
  background:rgb(110,76,204);
}

@media screen and (max-width: 425px)/*responsive design mobile*/
{
  #container
  {
    width: 100%;
    

  }
  .entree, .plat, .dessert
  {
    width: 90%;
    
  }
  img
  {
    display: none;
  }
  h2
  {
    margin-top: 40px;
  }
 
}






