h2
{
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
}

h3
{ padding-top:  30px;
  text-align: center;
  font-size: 2em;
  font-family: 'Devonshire', cursive;
}

h4
{
  padding: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
}

.end
{
  font-family: 'Devonshire', cursive;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

#container
{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  background-color:rgb(252,223,219);  
}

.entree,.dessert, .plat
{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
img
{
  width: 25%;
}

.note
{
  width: 8%;
}
.note_bis
{
  width: 4%;
  height: 4%;
}

p
{
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
}

a
{
  text-decoration: none;
  color: inherit;
}

.prelude:after { /*underline animation*/
  content: '';
  display: flex;
  height: 1px;
  width: 0;
  margin-left: 46%;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.prelude:hover:after
{
  width: 8%;
  background: #444;
}
.point:after { /*underline animation*/
  content: '';
  display: flex;
  height: 1px;
  width: 0;
  margin-left: 43%;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.point:hover:after
{
  width: 14%;
  background: #444;
}
.final:after { /*underline animation*/
  content: '';
  display: flex;
  height: 1px;
  width: 0;
  margin-left: 39%;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.final:hover:after
{
  width: 23%;
  background: #444;
}

@media screen and (max-width: 425px)/*responsive design mobile*/
{
  body
  {
    margin: 0;
   
  }
  .container
  {
    width: 100%;
    
  }
  img
  {
    display: none;
  }
  
  .entree, .plat, .dessert
  {
    width: 90%;
    margin: 10px;
  }
 

}










  





