#container
{
  width: 85%;
  
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: rgb(237,239,239);
}

h2
{
   background: -webkit-linear-gradient(left,rgb(2,40,221),rgb(6,112,243),rgb(34,157,249));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

h3
{
  font-weight: normal;
  font-size: 1.6em;
  font-family: 'Caveat', cursive;
}

.entree, .plat, .dessert
{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

p
{
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
}

img
{ 
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
}

.title
{
  text-align: center;
}

.title:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 43%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.title:hover:after
{
  width: 15%;
  background: #444;
}

@media screen and (max-width: 425px)/*responsive design mobile*/
{
  #container
  {
    width: 90%;
    

  }
  .entree, .plat, .dessert
  {
    width: 90%;
    
  }
  h2
  {
    font-size: 2.4em;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  img
  {
    display: none;
  }
  footer
  {
    display: block;
  }
}






  
  







