#container
{
  width: 80%;
  margin: auto;
  height: 1200px;
}

h2
{
  text-align: center;
  margin-top: 35px;
  font-family:  'Caveat', cursive;
  background: -webkit-linear-gradient(left,rgb(102,180,80),rgb(188,253,126));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}
h3
{
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
}

.entree, .plat, .dessert
{
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
  
p
{
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
}

img
{
  width: 35%;
  padding-left:  10px;
  padding-right: 10px;
}

.esquisse:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 45%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.esquisse:hover:after
{
  width: 10%;
  background: #444;
}
.oeuvre:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 41%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.oeuvre:hover:after
{
  width: 18%;
  background: #444;
}
.art:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 40%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}
.art:hover:after
{
  width: 20%;
  background: #444;
}

@media screen and (max-width: 425px)/*responsive design mobile*/
{
  #container
  {
    height: 1400px;
  }
  .entree, .plat, .dessert
  {
    width: 80%;
  }
  h2
  {
    font-size: 2.5em;
  }
  img
  {
    display: none;
  }

@media screen and (max-width: 768px)
{
  img
  {
    width: 15%;
  }
}









 






