body
{
  margin: 0;
  padding: 0;
  position: relative;
}

header /*ohmyfood logo*/
{
	display: flex;
	justify-content: center;
	font-size: 2em;
	width: 100%;
	
	margin: auto;
	background-color: #389c75;
	color: #ffd633;
	align-self: center;
  font-family: 'Roboto', sans-serif;
 }

#container
{
  width: 60%;
  height:1000px;
  margin: auto;
  margin-top: 50px;
}

h1
{
  text-align: center;
  margin: auto;
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient( #003311,#bbff33,#66ff99);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}
  

h2
{
  text-align: center;
  margin-top: 35px;
  font-family:  'Caveat', cursive;
}

.entree, .plat, .dessert
{
  display: flex;
  justify-content: space-between;
}

p
{
  font-family: 'Caveat', cursive;
  font-size: 1.2em;
}

a
{
  text-decoration: none;
  color: inherit;
}

.title:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 40%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.title:hover:after
{
  width: 20%;
  background: #444;
}
.btn_contact,.btn-mentions
{
  margin-right: 30px;
}

.btn_mentions:hover, .btn_contact:hover /*wiggle animation*/
{
  
  animation-name:wiggle;
  animation-duration:1000ms;
  animation-iteration-count:1;
  animation-timing-function:1;

}

@keyframes wiggle
{
  0% {transform: rotate(1deg);}
  5% {transform: rotate(-1deg);}
  10%{transform: rotate(5deg);}
  15%{transform: rotate(-5deg);}
  20%{transform: rotate(1deg);}
  25% {transform: rotate(-1deg);}
  40%{transform: rotate(5deg);}
  45%{transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  60%{transform: rotate(-10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

footer
{
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  height: 35px;
  margin: auto;
  margin-top: 25px;
  background-color: #389c75;
  color: #ffd633;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
}
@media screen and (max-width: 425px)/*responsive design mobile*/
{
  #container
  {
    width: 100%;
    

  }
  .entree, .plat, .dessert
  {
    width: 75%;
    
  }

}

 






