body
{
 
  margin: 0;
  padding: 0;
  position: relative;
  
}

header /*ohmyfood logo*/
{
	display: flex;
  justify-content: center;
  font-size: 2em;
  padding: 10px;
  height: 60px;
  margin: auto;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #389c75;
  color: #ffd633;
  align-self: center;
  
 }

#container /*Main menu*/
{
  	
  width: 90%;
  height:1100px;
  margin: auto;
  margin-top: 30px;

    
}
img
{
  width: 15%;
}
 
h1
{
  text-align: center;
  margin: auto;
  padding-top: 50px;
  font-family: 'Croissant One', cursive;
  background: linear-gradient( #ff0000,#ff9900,#8080ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2
{
  text-align: center;
  margin-top: 100px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

p
{
	font-family: 'Roboto Slab', serif;
	font-size: 0.8em;
}
a
{
  text-decoration: none;
  color: inherit;
}  


.entree, .plat, .dessert
{
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  font-size: 1.2em;
}

.entree,.orange
{
	color: #cc5200;
}
.plat,.violet
{
	color: #ac00e6;
}
.dessert,.mauve
{
	color: #6600ff;
}

img
{
  padding-right: 15px;
  padding-left: 15px;
}

.orange:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 35%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.orange:hover:after 
{
  width: 30%;
  background:#cc5200;
}
.violet:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 39%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.violet:hover:after 
{
  width: 23%;
  background:#ac00e6;
}
.mauve:after { /*underline animation*/
  content: '';
  display: block;
  margin-left: 36%;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .7s ease, background-color .7s ease;
}

.mauve:hover:after 
{
  width: 28%;
  background:#6600ff;
}
.btn_contact,.btn-mentions
{
	margin-right: 30px;
}

.btn_mentions:hover, .btn_contact:hover/*wiggle animation*/
{
  animation-name:wiggle;
  animation-duration:1000ms;
  animation-iteration-count:1;
  
}

@keyframes wiggle 
{
 	0% {transform: rotate(1deg);}
  5% {transform: rotate(-1deg);}
  10%{transform: rotate(5deg);}
  15%{transform: rotate(-5deg);}
  20%{transform: rotate(1deg);}
  25% {transform: rotate(-1deg);}
  40%{transform: rotate(5deg);}
  45%{transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  60%{transform: rotate(-10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

footer
{
	display: flex;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  margin-top: 5px;
  margin: auto;
  padding: 5px;
  background-color: #389c75;
  color: #ffd633;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  
}
@media screen and (max-width: 425px)/*responsive design mobile*/
{
  #container
  {
    width: 100%;
    

  }
  .entree, .plat, .dessert
  {
    width: 90%;
    
  }
  img
  {
    display: none;
  }
  h2
  {
    margin-top: 40px;
  }
  h1
  {
    padding-top: 20px;
  }
   .btn_mentions, .btn_contact /*wiggle animation*/
{
  
  animation-name:wiggle;
  animation-duration:1000ms;
  animation-iteration-count:infinite;
}


@keyframes wiggle 
{
  0% {transform: rotate(1deg);}
  5% {transform: rotate(-1deg);}
  10%{transform: rotate(5deg);}
  15%{transform: rotate(-5deg);}
  20%{transform: rotate(1deg);}
  25% {transform: rotate(-1deg);}
  40%{transform: rotate(5deg);}
  45%{transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  60%{transform: rotate(-10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

}


